-#Java		 +# Ignore all
 -*.class~		 +*
 -*.java~
 -*.class

 -#C & C++		 +#Unignore Java
 -# Prerequisites		 +!*.java
 -*.d

 -# Compiled Object files		 +#Unignore C and C++
 -*.slo		 +!*.c
 -*.lo		 +!*.cpp
 -*.o
 -*.obj

 -# Precompiled Headers		 +#Unignore Python
 -*.gch		 +!*.py
 -*.pch
 -
 -# Compiled Dynamic libraries
 -*.so
 -*.dylib
 -*.dll
 -
 -# Fortran module files
 -*.mod
 -*.smod
 -
 -# Compiled Static libraries
 -*.lai
 -*.la
 -*.a
 -*.lib
 -
 -# Executables
 -*.exe
 -*.out
 -*.app
